.home-page {
  background-image: url("C:\Users\Yash\OneDrive\Desktop\campus-cool\client\public\campus.png"); 
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; 
   text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8); 
}

.home-page h1 {
  font-size: 3rem;
  font-weight: 700;
  color: orange;
}
